<appSettings>
  <add key="aspnet:IgnoreFormActionAttribute" value="true" />
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  <add key="AdminId" value="1" />
  <!--tema klasörünüzün adı-->
  <add key="ThemeName" value="default" />
  <!--admin tema klasörünüzün adı-->
  <add key="AdminThemePath" value="default" />
  <!--boş bırakılırsa log tutmaz (metin (.txt) formatında yazar)-->
  <add key="HataLogDosyasi" value="" />
  <!--value="/hata_log.txt"-->
</appSettings>