<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings configSource="appSettings.config">
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="e_cobiConn" connectionString="" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <globalization culture="auto:tr" uiCulture="auto:tr" responseEncoding="utf-8" fileEncoding="utf-8" requestEncoding="utf-8" />
    <sessionState timeout="45" />
    <authentication mode="Forms">
      <forms cookieless="UseCookies" name=".local" protection="All" timeout="45" />
    </authentication>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <pages validateRequest="false" enableEventValidation="false" enableViewStateMac="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET" />
        <add tagPrefix="cc1" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        <add tagPrefix="snlg" assembly="ApplicationParameter" namespace="Sanalog" />
      </controls>
    </pages>
    <httpRuntime targetFramework="4.5" executionTimeout="90" requestValidationMode="2.0" />
    <customErrors mode="RemoteOnly">
      <error statusCode="400" redirect="~/400.aspx" />
      <error statusCode="403" redirect="~/403.aspx" />
      <error statusCode="404" redirect="~/404.aspx" />
      <error statusCode="500" redirect="~/500.aspx" />
    </customErrors>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="localhost" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="install/default.aspx" />
        <add value="index.htm" />
        <add value="SnlgPages.aspx" />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
    <modules>
      <add name="Snlg_UrlRewrite" type="Snlg_UrlRewrite" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>