@import url(../default/style.css);
 
 #shareplus {
 	background: #3c4242;
 	color: #4E4E4E;
 	border: 0px;
 	padding: 0px;
}
 
 /* --------------- Title --------------- */
 
 #shareplus_title {
 	height: auto;
 	padding: 10px;
 	margin: 5px;
 	margin-bottom: 0px;
 	margin-left: 10px;
 	border: none;
}
 
 #shareplus_title span#shareplus_close a {
 	margin: -2px;
 	background: #1a1a1a;
}
 
 /* --------------- Icons List --------------- */
 
 #shareplus_icons {
 	border: none;
 	-webkit-border-radius: 0px;
 	-moz-border-radius: 0px;
 	border-radius: 0px;
 }
   
 /* --------------- Extras --------------- */
 
 #shareplus_overlay {
 	background: rgba(51, 51, 51, 0.2);
 }
 
 #shareplus_extras {	
 	background: #f0f5f8;
 	padding: 10px;
 	padding-left: 15px;
 	
 	border: 0px;
 	border-top: 1px #d5d5d5 solid;
 	
 	-webkit-border-bottom-right-radius: 5px;
 	-webkit-border-bottom-left-radius: 5px;
 	-moz-border-radius-bottomright: 5px;
 	-moz-border-radius-bottomleft: 5px;
 	border-bottom-right-radius: 5px;
 	border-bottom-left-radius: 5px;
 }
 